// scrollbar-primary 客製化滾動條
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  &,
  & .swiper-scrollbar-drag {
    border-radius: 999px;
  }
  &.scrollbar-primary {
    width: 184px;
    height: 8px;
    position: unset;
    display: flex;
    margin-inline: auto;
    background: $primary-0;
    .swiper-scrollbar-drag {
      background: $primary;
    }
  }
}
