.account-shell {
  min-height: calc(100vh - 73px);
}

.account-aside {
  width: 196px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.account-main {
  flex: 1;
  min-width: 0;
}

// 會員總覽 center
.quick-link {
  border: 1px solid $gray-200;
  transition: border 0.3s;
  color: $primary;

  &:hover {
    border: 1px solid $primary;
    box-shadow: $box-shadow;
    background-color: $primary-0;
  }
}

// 會員資料 profile
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

// 個人方案 plan
.swiper.personal-plan-swiper {
  overflow: visible;
  .swiper-slide {
    width: 280px;
  }

  @include media-breakpoint-up(md) {
    .swiper-slide {
      width: 316px;
    }
  }
}

.icon-collapsed {
  display: inline-block;
}
.icon-expanded {
  display: none;
}

.payment-toggle[aria-expanded="true"] .icon-collapsed {
  display: none;
}
.payment-toggle[aria-expanded="true"] .icon-expanded {
  display: inline-block;
}

.table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.payment-table-frame {
  width: max-content;
  min-width: 848px;
}

.table.payment-record {
  margin-bottom: 0;

  th {
    padding: 16px;
    color: $gray-600;
  }
  td {
    padding: 8px 16px;
    border-color: $gray-200;
    color: $gray-600;
  }
  tr:last-child td {
    border-bottom: 0;
  }
}

.payment-record th,
.payment-record td {
  white-space: nowrap; // 表格欄位不換行
}

// 升級方案 upgrade
input[type="radio"]:checked {
  + .card-label {
    border: 2px solid $primary-400;

    &::before {
      content: "選擇中";
      position: absolute;
      left: 50%;
      top: 100%;
      font-size: 12px;
      font-weight: bold;
      transform: translate(-50%, -50%);
      color: #fff;
      background-color: $primary;
      border-radius: 16px;
      padding: 8px 16px;
    }
  }
}

.card-label {
  border: 2px solid $gray-100;
  position: relative;

  .current-plan {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
