// 會員資料 profile
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  img {
    // width: 100%;
    // height: 100%;
    object-fit: cover;
  }
}

// 個人方案 plan
.icon-collapsed {
  display: inline-block;
}
.icon-expanded {
  display: none;
}

.payment-toggle[aria-expanded="true"] .icon-collapsed {
  display: none;
}
.payment-toggle[aria-expanded="true"] .icon-expanded {
  display: inline-block;
}

// 升級方案 upgrade
input[type="radio"]:checked {
  + .card-label {
    border: 2px solid $primary-400;

    &::before {
      content: "選擇中";
      position: absolute;
      left: 50%;
      top: 100%;
      font-size: 12px;
      font-weight: bold;
      transform: translate(-50%, -50%);
      color: #fff;
      background-color: $primary;
      border-radius: 16px;
      padding: 8px 16px;
    }
  }
}

.card-label {
  border: 2px solid $gray-100;
  position: relative;

  .current-plan {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
